@tailwind base;
@tailwind components;
@tailwind utilities;

/* accent color */
/* #BF8D77 */

.mobileNav {
  transition: height 0.7s, opacity 0.7s;
  height: 6rem;
  opacity: 1;
}

@starting-style {
  .mobileNav {
    opacity: 0;
    height: 0;
  }
}
