@tailwind base;
@tailwind components;
@tailwind utilities;

/* accent color */
/* #d4af37 */

.btn {
  @apply h-10 w-36 rounded-md transition-colors font-semibold;
}
/* failed attempt to add a good text effect */
/* .head::after {
  content: "";
  transform: skewY(-3deg);
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: #d4af37;
} */

.mobileNav {
  transition: height 0.5s ease, opacity 0.5s ease;
  height: 6rem;
  opacity: 1;
}

@starting-style {
  .mobileNav {
    opacity: 0;
    height: 0;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
