@tailwind base;
@tailwind components;
@tailwind utilities;

/* accent color */
/* #BF8D77 */

.btn {
  @apply h-10 w-36 rounded-md transition-colors font-semibold;
}

.mobileNav {
  transition: height 0.5s ease, opacity 0.5s ease;
  height: 6rem;
  opacity: 1;
}

@starting-style {
  .mobileNav {
    opacity: 0;
    height: 0;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
